*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(31,26,49);
    overflow: hidden;
}

h2{
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: aliceblue;
    text-align: center;
    text-shadow:0 4px 5px black;
}

.clock{
    display: flex;
}

.clock div{
    margin: 6px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: rgb(19,17,26);
    margin: 3px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    border-radius: 4px;
    box-shadow: 2px 2px 3px black;
}

#text{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(17,16,20);
    
}

#pmam{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
}